# Folders for building executables
Debug/
Release/
Testing/

# External code
optionparser.h
googletest/

# Makefile files
makefile.config

# Eclipse files
*.stackdump

# Unit test files
test/data/bc_files/*

# lex/yacc files
src/war_parser.hpp
src/war_lexer.hpp

